*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

html {
    /* background: http://lea.verou.me/css3patterns/#carbon-fibre */
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    color: #fff;
    font: 1rem/1.25 sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    box-shadow: 0 3px -3px rgba(0, 0, 0, .5);
    background: #000;
    display: flex;
    padding: 1em 10px;
}

header h1 {
    font: 1.5rem/1 monospace;
}

header small {
    display: block;
    font: 0.75rem/1 monospace;
}

header svg {
    height: 2rem;
    margin-right: 1rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main > span {
    flex: 1 1 50%;
}

main .btn {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    text-align: left;
}

@media (min-width:544px) {
    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: 10px;
        margin: 10px 10px auto;
    }
    
    main > span {
        flex: none;
        position: relative;
    }
    
    main > span::before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    main .btn {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 1220px) {
    main {
        margin: 10px auto auto;
        width: 1200px
    }
}

a {
    color: white;
}

footer {
    color: #999;
    display: block;
    font-size: .75rem;
    padding: .75rem;
    text-align: center;
}

.panel {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    padding: 10px calc(40px + 1ch) 10px 20px;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.panel button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font: inherit;
}

.panel button:last-child {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

/**
* Adapted from KEYS.css: A simple stylesheet for rendering beautiful keyboard-style elements.
*
* Author: Michael Hüneburg
* Website: http://michaelhue.com/keyscss
* License: MIT License (see LICENSE.txt)
*/

.btn {
    background: rgb(250, 250, 250);
    background: linear-gradient(to top, rgb(210, 210, 210), rgb(255, 255, 255));
    border: none;
    border-radius: .3em;
    box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
    color: rgb(50, 50, 50);
    cursor: default;
    display: inline-block;
    font: normal .85em/1 'Lucida Grande', Lucida, Arial, sans-serif;
    margin: 5px;
    min-width: 1em;
    outline: 0;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 2px rgb(255, 255, 255);
    transform: translate(0, 0);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.btn:active {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
    outline: 0;
    transition: 100ms all;
    transform: translate(1px, 1px);
}

.btn:focus,
.btn.is-playing {
    background: linear-gradient(to top, #fffee0, #fffef0);
    outline: 0;
}

/* https://www.bypeople.com/active-led-css-button/ */

.btn::before {
    position: absolute;
    content: '';
    right: 5px;
    top: 5px;
    width: 8px;
    height: 8px;
    background: #646464;
    background-image: radial-gradient(top, #616161 0%, #616161 20%, #535353 60%);
    border-radius: 50%;
    box-shadow: 0 0 2px #1C1C17;
    transition: all .3s ease;
}

.btn:hover::before {
    background: #FF4F4F;
    box-shadow: 0 0 2px #1C1C17, 0 0 3px #FF4242;
}

.btn.is-playing::before {
    background: #FF4F4F;
    box-shadow: 0 0 4px #1C1C17, inset 0 2px 2px 0px #CC0000;
}