*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

html {
    /* background: http://lea.verou.me/css3patterns/#carbon-fibre */
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    color: #fff;
    font: 1rem/1.25 sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    box-shadow: 0 3px -3px rgba(0, 0, 0, 0.5);
    background: black;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    font: normal 1.5rem/1 monospace;
}

header small {
    display: block;
    font: normal .75rem/1 monospace;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    margin: 10px 10px auto;
    max-width: 960px;
}

main>span {
    position: relative;
}

main>span::before {
    content: '';
    display: block;
    padding-top: 100%;
}

main>span>button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@media (min-width: 980px) {
    main {
        margin: 10px auto auto;
    }
}

a {
    color: white;
}

footer {
    color: #999;
    display: block;
    font-size: .75rem;
    padding: .75rem;
    text-align: center;
}

/**
* Adapted from KEYS.css: A simple stylesheet for rendering beautiful keyboard-style elements.
*
* Author: Michael Hüneburg
* Website: http://michaelhue.com/keyscss
* License: MIT License (see LICENSE.txt)
*/

button {
    background: rgb(250, 250, 250);
    background: linear-gradient(top, rgb(210, 210, 210), rgb(255, 255, 255));
    border: none;
    border-radius: .3em;
    box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
    color: rgb(50, 50, 50);
    cursor: default;
    display: inline-block;
    font: normal .85em/1 'Lucida Grande', Lucida, Arial, sans-serif;
    margin: 0 .25em .75em 0;
    min-width: 1em;
    padding: .5em .4em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 2px rgb(255, 255, 255);
    transform: translate(0, 0);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

button:active {
    transition: 100ms all;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
    transform: translate(1px, 1px);
}

/* https://www.bypeople.com/active-led-css-button/ */
button::before{
    position: absolute;
    content: '';
    right: 5px;
    top: 5px;
    width: 8px;
    height: 8px;
    background: #646464;
    background-image: radial-gradient(top, #616161 0%, #616161 20%, #535353 60%);
    border-radius: 50%;
    box-shadow: 0 0 2px #1C1C17;
    transition: all .3s ease;
}

button:hover::before{
    background: #FF4F4F;
    box-shadow: 0 0 2px #1C1C17, 0 0 3px #FF4242;
}

button.is-playing::before {
    background: #FF4F4F;
    box-shadow: 0 0 4px #1C1C17, inset 0 2px 2px 0px #CC0000;
}