*, *::before, *::after {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
    font-size: 100%;
    margin: 0; 
    padding: 0;
}

/*
 * [1] http://lea.verou.me/css3patterns/#carbon-fibre
 */
html {
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px; /* [1] */
    background-color:#282828; /* [1] */
    background-size:16px 16px; /* [1] */
    color: #fff;
    font: 1rem/1.25 sans-serif;
}
h1 {
    background: #45484d;
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    padding: .5rem;
    text-align: center;
    
}
h1 > small {
    display: block;
    font-size: .5em;
}

a {
    color: #fff;
}
article {
    margin: 1rem 0;
    padding: .5rem;
    text-align: center;
}

    article > small {
        color: #999;
        display: block;
        font-size: .5rem;
        margin: 1rem 0 0;
    }

button {
    background: orange;
    border: none;
    border-radius: 4px;
    display: inline-block;
    margin: .25rem;
    min-height: 44px;
    padding: .25rem .5rem;
    
    box-shadow: 2px 2px 1px black;
}
    button:active {
        box-shadow: inset 2px 2px 1px rgba(0,0,0,0.25);
        transform: translate(1px, 1px);
    }

.github {
    margin: 2rem 0;
    text-align: center;
}